body {
    margin: 0;
}
header {
    background: Black;
    margin: none;
    margin:-8px;
    padding:1em 0;
    display: flex;
    justify-content: space-between;
    a{
        color:white;
        padding:0 5px;
    }

    nav {
        display:flex
        
    }


}